<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bottstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>

  <body>
    <div class="container mt-4">
      <div class = "card>
        <div class="card-body">
          <h2> Home Page </h2>
          <form action="userpage" method = "POST">
            <button type="submit" class="btn btn-primary">Account Information</button>
          </form>
	  <form action="search" method="POST">
           <div class="form-group">
             <label for="illness">Illness</label>
             <input type="text" class="form-control col-lg-9" id="illness" aria-describedby="emailHelp" placeholder="Enter Illness Name" name="illness">
           </div>
           <button type="submit" class="btn btn-primary">Search</button>
         </form>
	 <form action="advanced1" method="POST">
           <button type="submit" class="btn btn-primary">Get Average Age by Illness</button>
         </form>
	 <form action="advanced2" method="POST">
	   <div class="form-group">
             <label for="illness">Illness</label>
             <input type="text" class="form-control col-lg-9" id="illness" aria-describedby="emailHelp" placeholder="Enter Illness Name" name="illness">
             <label for="age-range">Age Range</label>
             <input type="int" class="form-control col-lg-9" id="lowAge" aria-describedby="emailHelp" placeholder="Lower Limit" name="lowAge">
	     <input type="int" class="form-control col-lg-9" id="highAge" aria-describedby="emailHelp" placeholder="Upper Limit" name="highAge">
	     <label for="gender">Gender</label>
             <input type="text" class="form-control col-lg-9" id="gender" aria-describedby="emailHelp" placeholder="Enter Gender" name="gender">
	   </div>
           <button type="submit" class="btn btn-primary">Return Count</button>
         </form>
        </div>
      </div>
    </div>
  </body>
</html>
