<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Illness System</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bottstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>

  <body>
    <div class="container mt-4">
      <div class = "card>
	<div class="card-body">
	  <h2> Welcome to the illness page </h2>
	  <form action="mark" method="POST">
	    <div class="form-group">
	      <label for="UserId">User ID</label>
	      <input type="text" class="form-control col-lg-9" id="UserId" aria-describedby="emailHelp" placeholder="Enter Name" n>
	    </div>
	    <button type="submit" class="btn btn-primary">Submit</button>
	  </form>
	</div>
      </div>
    </div> 
  </body>
</html>
