<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Illness Wiki</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bottstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>

  <body>
    <div class="container mt-4">
      <div class = "card>
        <div class="card-body">
          <h2> Update User Information </h2>
          <form action="update-info" method="POST">
            <div class="form-group">
              <label for="password">Password</label>
              <input type="text" class="form-control col-lg-9" id="password" aria-describedby="emailHelp" placeholder="Enter Password" name="password">
              <label for="age">Age</label>
              <input type="int" class="form-control col-lg-9" id="age" aria-describedby="emailHelp" placeholder="Enter Age" name="age">
              <label for="gender">Gender</label>
              <input type="text" class="form-control col-lg-9" id="gender" aria-describedby="emailHelp" placeholder="Enter Gender" name="gender">
              <label for="country">Country</label>
              <input type="text" class="form-control col-lg-9" id="country" aria-describedby="emailHelp" placeholder="Enter Country" name="country">
            </div>
            <button type="submit" class="btn btn-primary">Update My Information</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
