<!DOCTYPE html>
<html lang="en">
  <head>
    <title>User Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bottstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>

  <body>
    <div class="container mt-4">
      <div class = "card>
        <div class="card-body">
          <h2> Account Information </h2>
          <form action="update-account">
            <button type="submit" class="btn btn-primary">Update Account Information</button>
          </form>
	  <form action="delete-account" method="POST">
            <button type="submit" class="btn btn-primary">Delete Account</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
