<!DOCTYPE html>
<html lang="en">
  <head>
    <title>User Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bottstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>

  <body>
    <div class="container mt-4">
      <div class = "card>
        <div class="card-body">
          <h2> Account Information </h2>
	  <%
            if(sampleData.length > 0)
            {
                sampleData.forEach(function(data){
            %>
                <p>Username: <%= data.Username %></p>
                <p>Age: <%= data.Age %></p>
		<p>Gender: <%= data.Gender %></p>
                <p>Country: <%= data.Country %></p>
            <%
                });
            } else {
            %>
            <h6> No User Data Found </h6>
            <%
             }
           %>
          <form action="update-account">
            <button type="submit" class="btn btn-primary">Update Account Information</button>
          </form>
	  <form action="delete-account" method="POST">
            <button type="submit" class="btn btn-primary">Delete Account</button>
          </form>
	  <form action="home">
            <button type="submit" class="btn btn-primary">Home</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
